body
{
    background-color:  #f5f5f5 !important;
    color: #4e4e4e;
}
.back
{
    background:url("../photo/intro-bg.jpg") ;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    color: white !important;
}
.home
{
    border-bottom: 2px solid white;
}
.package
{
    color: red !important;
}
.navbar-collapse :hover
{
    border-bottom: 2px solid white;
}
.text h1
{
    font-size: 4.5rem !important;
}
#spin {
   font-weight: bolder;
   font-size: 2.5rem;
  }
  #spin:after {
    content:"";
    animation: spin 10s linear infinite;
  }
  @keyframes spin {
    0% { content:"CEO DevFolio"; }
    10% { content:""; }
    20% { content:"WEB DEVELOPER"; }
    30% { content:"WEB"; }
    40% { content:"WEB DESIGNER"; }
    50% { content: ""; }
    60% { content: "FRONEND DEVLOPER"; }
    70% { content: ""; }
    80% { content: "GRAPHIC DESGINER"; }
    90% { content: ""; }
  }
  .back { position: relative; }

/* overlay */
.back::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 0;
}
/* make sure all elements inside .foo placed above overlay element */
.back > * { z-index: 1; }
.name span
{
   font-weight: bold; 
}
.photo img
{
    border:none;
    border-radius: 0.8rem;
}
.aboutme
{
    font-size: 1.25rem;
    font-weight: 300;
    color: #4e4e4e;
}
.h1
{
    position: relative;
}
.h1::after
{
  
    display: block;
   content: '';
  width: 25%;
  height: 0.2rem;
  background: #007bff;
  position: absolute;
  bottom: 0;
  left: 0;
   
}
.color
{
background-color: #fff !important;
}
.sec
{
    padding-top: 4rem;
}
.name p{
    font-size: 14;
}
.serv{
    padding-top: 5rem;
    
}
.servi
{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.cardweb
{
    border-radius: 1rem !important;
}
.web i{
    font-size: 4rem;
    background-color: white;
    border-radius: 50%;
    border: 0.8rem solid #007bff;
    padding: 1rem;
}
.web i:hover
{
    background-color: #0d7cf3;
    border:0.8rem solid rgba(137, 196, 244, 1)


}
.rows
{
    padding-top: 3rem;
}
.p{
    position: relative;
}
.p-50
{
    padding: 8rem;
}
.p::after
{
    display: block;
    content: '';
   width: 3%;
   height: 0.2rem;
   background: #007bff;
   position: relative;
   bottom: 0;
   left: 50%;
   transform: translate(-50%, -50%);
}
.count
{
    background-image: url("../photo/counters-bg.jpg") ;
    background-size: cover;
    background-attachment: fixed;
 
}
.counter { position: relative;
  
}

/* overlay */
.counter::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0078ff;
    z-index: 0;
    opacity: 0.7;
    
}
/* make sure all elements inside .foo placed above overlay element */
.counter > * { z-index: 1; }
.d{
    color: white !important;
}
.counter i{
    font-size: 2rem;
    border-radius: 50%;
    border: 0.8rem solid #fff;
    padding: 1rem;
    
}
.portfolio
{
    padding-top: 2rem;
    line-height: 2rem;
   
}
.portfoli .card 

{
    overflow: hidden;
}
.imgs{
    transition: all .2s ease-in-out; 

}
.card-img-top{
    transition: all 2s ease-in-out; 
    overflow: hidden;
}
.card-img-top:hover{
  width: 110%;
  
    transform: scale(1.1); 
}
.slider{
    padding-top:5rem ;
}
.slide
{
    border-radius: 5rem;
}
.fa-quote-right
{
    background-color: #fff;
    color:#0078ff;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 3rem;
}

.avator
{
    width: 3rem;
    height: 3rem;
  
    overflow: hidden;
}
.avat a{
    text-decoration: none;
}
.avat a:hover{
    text-decoration: none;
}
.avat span {
    font-size: 1rem;
    color: #000;
    
}
.avat span:hover{
    color: #0078ff;
  
}
.fa-clock
{
    font-size: 1.1rem;
}
.fa-clock::after{
    content: "10 min";
}
.cards{
    padding-top: 2rem;
    position: relative;
    padding-bottom: 5rem ;
}
.w-80
{
    width: 80%;
}
.final
{
    padding-top: 5rem ;
    background-image: url("../photo/overlay-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.final::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0078ff;
    z-index: 0;
    opacity: 0.7;
    
}
/* make sure all elements inside .foo placed above overlay element */
.final > * { z-index: 1; }
.btn-primary
{
    margin-left: 5rem !important ;
    background: #0078ff !important;
    border-radius: 5rem !important;
}

.er::after{

    display: block;
   content: '';
  width: 25%;
  height: 0.2rem;
  background: #007bff;
  position: relative;
  bottom: 0;
  left: 0;
   
}
.paragrah
{
    font-size: 1.3rem;
}
.social
{
    padding: 0.8rem;
    margin-right: 1rem ;
    font-size: 1rem;
    border: 3px solid #0078ff;
    border-radius: 3rem;
    transition: all 1s ease;
}
.social:hover{
    background-color: #0d7cf3;
    border:0.3rem solid rgba(137, 196, 244, 1);
}
.footer
{
    background: #0062d3
}

.travel
{
    position: absolute;
   
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #0078ff;
    padding:0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;

}
.photo2
{
    position: relative;
}